In [2]:
#Environment setup
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'
os.environ['CUDA_VISIBLE_DEVICES'] = "0"

#librarires
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

2022-11-20 16:26:54.789530: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

In [3]:
data_xmr = pd.read_csv("XMR-USD.csv")# Data loading


data_xmr.head()#data viewing

,Date,Open,High,Low,Close,Adj Close,Volume,key
0,2017-11-09,112.531998,123.404999,112.219002,120.779999,120.779999,86864600,xmr_usd
1,2017-11-10,121.344002,121.665001,101.757004,105.585999,105.585999,84614000,xmr_usd
2,2017-11-11,105.750000,127.106003,103.877998,119.615997,119.615997,107708000,xmr_usd
3,2017-11-12,119.597000,133.675003,110.617996,123.856003,123.856003,144948000,xmr_usd
4,2017-11-13,128.960007,136.528000,120.921997,123.402000,123.402000,116200000,xmr_usd

In [4]:
data_xmr['Close'].value_counts()

69.162140     2
120.779999    1
205.749130    1
208.657867    1
204.832031    1
             ..
86.264908     1
88.423225     1
87.744942     1
99.962112     1
142.070938    1
Name: Close, Length: 1808, dtype: int64

In [5]:
df = data_xmr.loc[(data_xmr['key'] == 'xmr_usd')]
df.head(1810)

,Date,Open,High,Low,Close,Adj Close,Volume,key
0,2017-11-09,112.531998,123.404999,112.219002,120.779999,120.779999,86864600,xmr_usd
1,2017-11-10,121.344002,121.665001,101.757004,105.585999,105.585999,84614000,xmr_usd
2,2017-11-11,105.750000,127.106003,103.877998,119.615997,119.615997,107708000,xmr_usd
3,2017-11-12,119.597000,133.675003,110.617996,123.856003,123.856003,144948000,xmr_usd
4,2017-11-13,128.960007,136.528000,120.921997,123.402000,123.402000,116200000,xmr_usd
...,...,...,...,...,...,...,...,...
1804,2022-10-18,143.624588,148.039398,142.697784,146.093826,146.093826,118028731,xmr_usd
1805,2022-10-19,146.099319,148.462082,144.796875,145.044846,145.044846,81641779,xmr_usd
1806,2022-10-20,145.041626,148.424316,140.163910,141.207642,141.207642,86726962,xmr_usd
1807,2022-10-21,141.195435,143.249649,137.309967,140.729477,140.729477,80536580,xmr_usd
1808,2022-10-22,140.747223,142.579742,139.836685,142.070938,142.070938,52260144,xmr_usd

In [6]:
#date time collection
df = df.reset_index(drop=True)
df['Date'] = pd.to_datetime(df['Date'])
df = df.loc[df['Date'] > pd.to_datetime('2017-06-28')]

In [7]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,key
0,2017-11-09,112.531998,123.404999,112.219002,120.779999,120.779999,86864600,xmr_usd
1,2017-11-10,121.344002,121.665001,101.757004,105.585999,105.585999,84614000,xmr_usd
2,2017-11-11,105.750000,127.106003,103.877998,119.615997,119.615997,107708000,xmr_usd
3,2017-11-12,119.597000,133.675003,110.617996,123.856003,123.856003,144948000,xmr_usd
4,2017-11-13,128.960007,136.528000,120.921997,123.402000,123.402000,116200000,xmr_usd

In [8]:
df = df[['Date','Open','Close','High','Low','Volume']]
df = df[['Close']]

In [9]:
dataset = df.values
dataset = dataset.astype('float32')

In [10]:
dataset

array([[120.78   ],
       [105.586  ],
       [119.616  ],
       ...,
       [141.20764],
       [140.72948],
       [142.07094]], dtype=float32)

In [11]:
#Rescaling the data
scaler = MinMaxScaler(feature_range=(0, 1))
dataset_scale = scaler.fit_transform(dataset)

In [12]:
dataset_scale

array([[0.19479558],
       [0.16107407],
       [0.1922122 ],
       ...,
       [0.24013257],
       [0.23907134],
       [0.24204856]], dtype=float32)

In [13]:
#training set size
train_size = int(len(dataset_scale) * 0.709)
test_size = len(dataset_scale) - train_size
train, test = dataset_scale[0:train_size, :], dataset_scale[train_size:len(dataset), :]
print(len(train), len(test))

1282 527

In [14]:
# convert an array of values into a dataset matrix
def create_dataset(dataset, look_back=1):
  dataX, dataY = [], []
  for i in range(len(dataset)-look_back-1):
    a = dataset[i:(i+look_back), 0]
    dataX.append(a)
    dataY.append(dataset[i + look_back, 0])
  return np.array(dataX), np.array(dataY)

In [15]:
look_back = 20
trainX, trainY = create_dataset(train, look_back=look_back)
testX, testY = create_dataset(test, look_back=look_back)

In [16]:
testX

array([[0.8423271 , 0.77543116, 0.7943311 , ..., 0.5324532 , 0.5165964 ,
        0.57944345],
       [0.77543116, 0.7943311 , 0.681069  , ..., 0.5165964 , 0.57944345,
        0.61072963],
       [0.7943311 , 0.681069  , 0.68413126, ..., 0.57944345, 0.61072963,
        0.56473255],
       ...,
       [0.2559772 , 0.2536701 , 0.23938954, ..., 0.24447536, 0.2454688 ,
        0.25097695],
       [0.2536701 , 0.23938954, 0.2306107 , ..., 0.2454688 , 0.25097695,
        0.24864885],
       [0.23938954, 0.2306107 , 0.24127495, ..., 0.25097695, 0.24864885,
        0.24013257]], dtype=float32)

In [17]:
testY

array([0.61072963, 0.56473255, 0.5133415 , 0.5317323 , 0.47921848,
       0.49240625, 0.5355873 , 0.49347264, 0.46600914, 0.4659624 ,
       0.50643104, 0.5258305 , 0.5470484 , 0.5087037 , 0.54175144,
       0.5145316 , 0.52712935, 0.5139908 , 0.37807724, 0.3740151 ,
       0.3982781 , 0.42625195, 0.36285633, 0.37678036, 0.3954712 ,
       0.3982447 , 0.4086675 , 0.4200407 , 0.38518384, 0.39579538,
       0.40335825, 0.41465196, 0.40271956, 0.41974705, 0.40357527,
       0.3826924 , 0.39890665, 0.39182654, 0.39618665, 0.38573554,
       0.37849158, 0.37781903, 0.36218098, 0.3553605 , 0.3653154 ,
       0.36955106, 0.34574905, 0.33310112, 0.36264938, 0.36535892,
       0.37852502, 0.38984585, 0.40055   , 0.4117011 , 0.42854112,
       0.44784278, 0.46211982, 0.4656012 , 0.45976973, 0.45102793,
       0.44400662, 0.4265357 , 0.47041863, 0.48793668, 0.51051897,
       0.52814704, 0.4967969 , 0.5263876 , 0.51747835, 0.52279824,
       0.49733698, 0.53277946, 0.5288269 , 0.5309383 , 0.5212516 ,
       0.49550563, 0.4893461 , 0.5128496 , 0.55248314, 0.5663022 ,
       0.6049998 , 0.6332248 , 0.6092949 , 0.6225698 , 0.5747593 ,
       0.62584764, 0.5930631 , 0.57385033, 0.5526649 , 0.56190264,
       0.5998851 , 0.59868485, 0.6009584 , 0.6044402 , 0.6262816 ,
       0.62534124, 0.5085998 , 0.4965636 , 0.5069574 , 0.4791085 ,
       0.48106414, 0.49562198, 0.5103757 , 0.5232062 , 0.5244925 ,
       0.5124875 , 0.5092542 , 0.5297217 , 0.5036163 , 0.44007015,
       0.40984654, 0.4711061 , 0.4794711 , 0.44561523, 0.45033967,
       0.44631892, 0.44769472, 0.43631083, 0.44640547, 0.4834162 ,
       0.49895424, 0.4887553 , 0.50157785, 0.5127563 , 0.5276431 ,
       0.5627508 , 0.543424  , 0.5435516 , 0.5442796 , 0.5275282 ,
       0.5410392 , 0.54186237, 0.5369482 , 0.51806736, 0.534195  ,
       0.52183187, 0.5055642 , 0.49606872, 0.49259746, 0.50406945,
       0.52704895, 0.5179816 , 0.5209311 , 0.56984174, 0.5631682 ,
       0.5481774 , 0.49434376, 0.5204671 , 0.52247214, 0.5101569 ,
       0.534201  , 0.5284399 , 0.5375719 , 0.51754975, 0.5054985 ,
       0.49608648, 0.50415534, 0.5195464 , 0.5370874 , 0.56729174,
       0.52130663, 0.51599073, 0.5044016 , 0.5281896 , 0.5373738 ,
       0.52102846, 0.4621821 , 0.4630792 , 0.42925137, 0.45683467,
       0.4754461 , 0.48353815, 0.4415018 , 0.45107675, 0.44946426,
       0.47456765, 0.42893916, 0.4333518 , 0.45729077, 0.45003694,
       0.45516837, 0.4391123 , 0.45759958, 0.42300564, 0.38088393,
       0.37343496, 0.37434903, 0.38719356, 0.3922322 , 0.34735784,
       0.34817842, 0.36831647, 0.36621666, 0.33504567, 0.32890138,
       0.3446108 , 0.34219655, 0.3303896 , 0.32882926, 0.33476788,
       0.34572873, 0.34672108, 0.34989887, 0.39231983, 0.3800612 ,
       0.39552835, 0.40858677, 0.41600633, 0.39015713, 0.4027259 ,
       0.42776102, 0.43458998, 0.48204333, 0.45799738, 0.44063246,
       0.42020717, 0.38681808, 0.37959167, 0.3584343 , 0.33596814,
       0.3496771 , 0.332786  , 0.3550715 , 0.36814082, 0.42065737,
       0.43574673, 0.4103371 , 0.4240281 , 0.40423954, 0.3805037 ,
       0.3744154 , 0.34493488, 0.30857742, 0.26348373, 0.273841  ,
       0.25264606, 0.24794596, 0.25586542, 0.24739295, 0.25748047,
       0.2673068 , 0.25502792, 0.25381976, 0.25113153, 0.24811336,
       0.25217867, 0.29320425, 0.30110887, 0.31185934, 0.33651564,
       0.3237864 , 0.33871412, 0.32499486, 0.30108312, 0.31240228,
       0.31378162, 0.31800255, 0.33148813, 0.32469562, 0.28935352,
       0.28214625, 0.2846926 , 0.26838022, 0.25513923, 0.26165587,
       0.2576946 , 0.25306138, 0.26734567, 0.27664897, 0.26126394,
       0.30445656, 0.32075542, 0.3211456 , 0.3085454 , 0.28120434,
       0.29465428, 0.27994433, 0.27754056, 0.38137197, 0.34560227,
       0.32470933, 0.30552956, 0.33837986, 0.3177284 , 0.33879933,
       0.33350486, 0.34757704, 0.3435874 , 0.3597725 , 0.36501732,
       0.3586368 , 0.35252503, 0.3569754 , 0.36482403, 0.37933138,
       0.37017924, 0.386578  , 0.40415466, 0.40350544, 0.41945612,
       0.41850525, 0.39880258, 0.41125295, 0.3984782 , 0.40889126,
       0.41933718, 0.420311  , 0.40115663, 0.4293617 , 0.4086137 ,
       0.45988458, 0.45060688, 0.42749387, 0.4435398 , 0.4525252 ,
       0.43638283, 0.45775706, 0.45114857, 0.46219832, 0.51836455,
       0.49070263, 0.5183461 , 0.5468207 , 0.5218436 , 0.51931846,
       0.48803568, 0.49135667, 0.43549097, 0.4361198 , 0.43048245,
       0.41653082, 0.40315804, 0.3987338 , 0.36765793, 0.38735256,
       0.42650414, 0.3853137 , 0.40835848, 0.3799458 , 0.408876  ,
       0.3159111 , 0.28840283, 0.23466957, 0.23276043, 0.24620801,
       0.2693462 , 0.3077614 , 0.2867806 , 0.3104002 , 0.27147028,
       0.29475585, 0.31340566, 0.31733647, 0.34212008, 0.33772972,
       0.35528702, 0.37930593, 0.3473959 , 0.32700205, 0.31665462,
       0.33970585, 0.37995797, 0.3673753 , 0.36756083, 0.37371287,
       0.3572449 , 0.34649637, 0.343948  , 0.34733927, 0.34302387,
       0.34052446, 0.33816814, 0.31263724, 0.29536775, 0.27971214,
       0.2199058 , 0.19147557, 0.18862802, 0.16297117, 0.18043941,
       0.1579605 , 0.18022966, 0.1870668 , 0.19039512, 0.17347828,
       0.19904879, 0.20741305, 0.20966965, 0.20488104, 0.19393212,
       0.18753427, 0.1901665 , 0.17700186, 0.18205479, 0.1842188 ,
       0.18500453, 0.20197648, 0.198257  , 0.20525905, 0.21622789,
       0.20553127, 0.20898452, 0.2133883 , 0.20864412, 0.20013449,
       0.20198429, 0.22361404, 0.23502591, 0.23531282, 0.2284717 ,
       0.25406227, 0.25294012, 0.26335526, 0.26187825, 0.2580809 ,
       0.25170943, 0.26288602, 0.24623206, 0.26191115, 0.28540277,
       0.28714564, 0.2821076 , 0.27231643, 0.27040055, 0.28386018,
       0.27455455, 0.27444896, 0.28036562, 0.28548542, 0.28331137,
       0.29246986, 0.2978228 , 0.27752516, 0.29903072, 0.28199753,
       0.29573822, 0.29621792, 0.29409167, 0.2900081 , 0.3037594 ,
       0.30067655, 0.2811549 , 0.24316257, 0.25745487, 0.2696542 ,
       0.26828057, 0.26989365, 0.26180622, 0.2690061 , 0.2434687 ,
       0.24867234, 0.2517071 , 0.26549363, 0.2567516 , 0.25748867,
       0.2682506 , 0.26729107, 0.26930144, 0.272144  , 0.2763036 ,
       0.24860734, 0.25794306, 0.2644742 , 0.28121918, 0.27647164,
       0.2793109 , 0.2905222 , 0.2500353 , 0.25920847, 0.25034738,
       0.25833458, 0.2547184 , 0.23862666, 0.23853216, 0.24267718,
       0.22770181, 0.24670392, 0.24057314, 0.24136972, 0.23990276,
       0.25012374, 0.24769053, 0.25364515, 0.2559772 , 0.2536701 ,
       0.23938954, 0.2306107 , 0.24127495, 0.2526937 , 0.25133216,
       0.25772002, 0.25183257, 0.253686  , 0.2500724 , 0.24262425,
       0.24790782, 0.24828812, 0.24375656, 0.2385802 , 0.23638862,
       0.24447536, 0.2454688 , 0.25097695, 0.24864885, 0.24013257,
       0.23907134], dtype=float32)

In [18]:
# reshape input to be [samples, time steps, features]
trainX = np.reshape(trainX, (trainX.shape[0], 1, trainX.shape[1]))

testX = np.reshape(testX, (testX.shape[0], 1, testX.shape[1]))

In [19]:
testX

array([[[0.8423271 , 0.77543116, 0.7943311 , ..., 0.5324532 ,
         0.5165964 , 0.57944345]],

       [[0.77543116, 0.7943311 , 0.681069  , ..., 0.5165964 ,
         0.57944345, 0.61072963]],

       [[0.7943311 , 0.681069  , 0.68413126, ..., 0.57944345,
         0.61072963, 0.56473255]],

       ...,

       [[0.2559772 , 0.2536701 , 0.23938954, ..., 0.24447536,
         0.2454688 , 0.25097695]],

       [[0.2536701 , 0.23938954, 0.2306107 , ..., 0.2454688 ,
         0.25097695, 0.24864885]],

       [[0.23938954, 0.2306107 , 0.24127495, ..., 0.25097695,
         0.24864885, 0.24013257]]], dtype=float32)

In [20]:
#xmr model loading

model_xmr = tf.keras.models.load_model("xmr.h5")


#xmr model summary

In [21]:
model_xmr.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_1 (LSTM)               (None, 4)                 400

 dense_1 (Dense)             (None, 1)                 5

=================================================================
Total params: 405
Trainable params: 405
Non-trainable params: 0
_________________________________________________________________

In [22]:
loss= model_xmr.evaluate(testX,testY,batch_size=280,verbose=2)

2/2 - 1s - loss: 0.0011 - 1s/epoch - 750ms/step

In [34]:
print(loss)

0.0011460552923381329

In [44]:
#Model Prediction
scaler = MinMaxScaler(feature_range=(0, 1))
a = [[149.146301],[149.668274],[146.864075],[149.28302],[158.32048],[157.242599],[154.919769],[155.234894],[138.239548],[119.120728],[133.224411],[128.019562],[128.375656],[127.46772],[129.822495],[128.993073],[132.24736],[132.727921],[133.294037],[134.364105]]
a_scale= scaler.fit_transform(a)
#a = [65]
a = np.array(a_scale)

a = np.reshape(a, (1,1, 20))
#print(b.shape)

result = model_xmr.predict(a)
print(result[0])
rev_result=scaler.inverse_transform(result)
print(rev_result[0])

1/1 [==============================] - 0s 14ms/step
[0.2903516]
[130.50244]